<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block header %}
    <header class="site-header"><a href="/">Arsen Mamikonyan</a></header>
    {% endblock %}
    <main id="content">{% block content %}{% endblock %}</main>
</body>
</html>
