{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  {% for block_name, books in block_to_books.items() %}
    <h2>{{block_name}}</h2>
    <ul>
    {% for book in books %}
      <div class="book">

        {% if 'url' in book %}
          <li><a href="{{book.url}}">{{book.title}}</a>{% if 'authors' in book %} by {{', '.join(book['authors'])}}{% endif %}{% if year_only and 'date' in book %} (read {{(book.date|string)[:4]}}){% endif %}</li>
        {% else %}
          <li>{{book.title}}{% if 'authors' in book %} by {{', '.join(book['authors'])}}{% endif %}{% if year_only and 'date' in book %} (read {{(book.date|string)[:4]}}){% endif %}</li>
        {% endif %}

        <ul>
          {% if 'date' in book and not year_only %}
            <li>Date Read: {{book.date}}</li>
          {% endif %}

          {% for comment in book.get('comments', []) %}
            <li>{{comment}}</li>
          {% endfor %}
        </ul>

      </div>
    {% endfor %}
    </ul>
  {% endfor %}

{% endblock %}
